
<footer class="min-h-[300px] bg-stone-100/75 dark:bg-[#090909]">
    <div class="container mx-auto min-h-[300px] flex flex-col justify-between">
        <div class="">
            {% comment %} Footer items here {% endcomment %}
        </div>

        <div class="
        flex flex-col 
        gap-y-2 md:flex-row 
        items-center 
        md:justify-between 
        py-3 border-t border-stone-500/30 
        text-sm text-stone-800 dark:text-stone-300">
        
            <div class="flex">
                <p>MindMansion © </p>
                <p id="date" class="px-2"></p>
                <a href="/" class="hover:text-bitterSweet">Django Tailwind Starter</a>
            </div>
            <div class="">
                <a href="/" class="hover:text-bitterSweet">About</a>
            </div>
        </div>
    </div>
</footer>